.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100vw;
  background-color: #1f2833;
}

.about_container .about_box {
  display: flex;
  position: relative;
  width: 320px;
  height: 420px;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  color: #66fcf1;
  background: black;
}

.about_content {
  display: flex;
  flex-direction: column;
}

.about_icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.about_container .about_box:hover {
  transform: scale(1.06)
}

.about_container .about_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.about_container .about_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  filter: blur(30px);
}

.about_container .about_box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.about_container .about_box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.about_container .about_box .about_content {
  position: relative;
  z-index: 50;
  padding: 20px 40px;
}
