.Navbar {
  background-color: #452b34;
  border-bottom: 1px solid #3a1f28;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  color: teal;
  font-weight: bold;
  font-size: large;
  align-items: center;
}
